/* Page section styles */
.page {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 0px;
}

.header {
  background-color: #264A60;
  color:white;
  font-size: 120%;
  margin: 0px;
  padding: 10px;
}

.catalog {
  padding: 20px;
}

.image {
  height: 40%;
  width:  40%;
}
/* Book catalog styles */
img.book {
  height: 15%;
  width: 15%;
}

table.book {
  width: 100%;
}

td.book {
  width: 40%;
}

/* Administrator page styles */
table.patron {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th.patron {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

td.patron {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

/* Page menu hyperlink styles */
a:link.menu {
  background-color: #264A60;
  color: white;
  text-decoration: none;
}
a:visited.menu {
  background-color: #264A60;
  color: white;
}
a:hover.menu {
  background-color: white;
  color: #264A60;
}
a:active.menu {
  background-color: #ffb74d;
  color: #264A60;
}