{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- private style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/main.css' %}">

    <title>Library</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <table>
                <tr>
                    <td>
                        <h1>The Library</h1>
                        <a class="menu" href="{% url 'frontend-catalog' %}">Catalog</a> |
                        <a class="menu" href="{% url 'frontend-booklist' %}">My books</a> |
                        <a class="menu" href="{% url 'frontend-about' %}">About</a> | 
                        <a class="menu" href="{% url 'frontend-login' %}">Login</a> | 
                        <a class="menu" href="{% url 'frontend-administrator' %}">Administrator</a>
                    </td>
                    <td>
                        <img class="image" src="{% static 'frontend/library.png' %}" alt="Library">
                    </td>
                </tr>
            </table>
        </div>
          {% block content %}
          {% endblock content %}
    </div>
</body>
</html>